
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 
}

/* .bg { */
  /* padding: 200px 5px; */
  /* background: url(/assets/img/thumb-1920-107611.jpg) 30% no-repeat; */
  /* background-size: cover; */
  /* background-position: bottom; */
/* } */
/*  */

.container {
  padding: 70px 115px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
/* .container { */
  /* width: 100%; */
  /* height: 100%; */
/*    */
  /* display: flex; */
  /* font-size: 15pt; */
  /* line-height: 1.3; */
  /* font-family: "Josefin Sans", "monoespace", sans-serif; */
  /* font-weight: 400; */
  /* color: #cacde8; */
/* } */
.container div h2 p {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 23px;
}
.container div h2 p {
  flex-direction: row;
  display: flex;
  list-style: none;
  
}
.container div h2 p {
  padding: 20px 10px;
}
.container div h2 p {
  text-shadow: 0.1em 0.1em 0.15em #d8cddf;
  list-style: none;

  padding: 20px 10px;
} 